<!doctype html>
<html ng-app='myModule'>
    <head>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/script.js"></script>
    </head>
    <body>
        <div ng-controller='myController'>
            <ul>
                <li ng-repeat='country in countries'>
                    {{$index}} - {{country.name}}
                    <ul>
                        <li ng-repeat='city in country.cities'>
                            {{$parent.$index}}.{{$index}} - {{city}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>